.page-header {
  display: grid;
  grid-template-columns: 1fr 200px;
  margin-bottom: 2rem;
}

.page-header h1 {
  margin: 0;
}

.input {
  padding: .5rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
}