.vehicle-item {
  border: 1px solid #ccc;
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
  transition: ease .5s all;
}
.vehicle-item:hover {
  background: #457B9D;
}
.vehicle-title {
  margin: 0;
}
.vehicle-item:hover .vehicle-title span {
  color: #000;
}
.vehicle-title span {
  color: #457B9D;
}